<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://avatars0.githubusercontent.com/u/44881631?s=460&u=a067e404a3f7ea9132983fdc86ccbbd9915e9e33&v=4" alt="Imagem de capa do card">
    </div>
   
    <div class="card-body">
        <h5 class="card-title text-center text-monospace">{{nome}}</h5>
        <p class="card-text text-center text-monospace">Desenvolvedora Java Full Stack Jr.</p>

        <a href="https://www.linkedin.com/in/vanessa-regina-silva-97344373/" class="btn btn-outline-dark mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>

        <a href="https://github.com/vanmtv" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
</div>