<!-- Footer -->
<footer class="page-footer font-small bg-info pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Call to action -->
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-light">Siga-me nas redes sociais</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
  
              <ul class="social-network">
               <li><a href="https://www.instagram.com" class="icoInstagram" title="Instagram">
                 <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                </a></li>
               <li><a href="https://www.linkedin.com/in/vanessa-regina-silva/" class="icoLinkedin" title="Linkedin">
                 <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                </a></li>
                <li><a href="https://www.github.com/vanmtv" class="icoGithub" title="Github">
                  <fa-icon [icon] ="faGithub" class = "faGithub fa-3x p-3"></fa-icon>
                 </a></li>
              </ul>
      </div>
      </div>
  
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright bg-info text-center py-3 ">
        <span class="text-light"> © 2020 Copyright: </span>
        <a class="text-light" href="">Vanessa Regina</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->